@inherits BootstrapComponentBase

@if (null != this.Items)
{
    <CardGroup @attributes="@this.Attributes" Type="CardGroupType.Deck">

        @foreach (var item in this.Items)
        {
            <Card Title="@item.Title" Subtitle="@item.Category" ImageUrl="@item.ImageUrl" Text="@item.Description">
                <ImageTemplate>
                    <Div style="@($"height: 160px; background-position: center; background-size: cover; background-image: url({item.ImageUrl})")">&nbsp;</Div>
                </ImageTemplate>
                <TitleTemplate>
                    <CardTitle>
                        <small class="text-muted d-block mb-1">@item.PublishDate.ToString("d")</small>
                        @context
                    </CardTitle>
                </TitleTemplate>
                <TextTemplate>
                    <CardText>
                        @foreach(var tag in item.Tags)
                        {
                            <Badge IsPill="true" Color="NamedColor.Info">@tag</Badge>
                        }
                        <p>@context</p>
                    </CardText>
                </TextTemplate>
                <FooterTemplate>
                    <CardFooter BackgroundColor="NamedColor.White" class="text-right">
                        <Anchor Url="@item.Url" IsStretched="true" OpenInNewTab="true" class="btn btn-outline-primary">Read more</Anchor>
                    </CardFooter>
                </FooterTemplate>
            </Card>
        }
    </CardGroup>
}
else
{
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-4 text-muted" role="status" aria-hidden="true"></div>
    </div>
}
